@import "tailwindcss";
@import "@fontsource/nunito/400.css";
@import "@fontsource/nunito/700.css";
@import "@fontsource/nunito/900.css";

@theme {
  --font-tahoma: Tahoma, sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

.sidebar {
  clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
}
.prose p + p {
  margin-top: 1em;
}

.text-shadow {
  text-shadow: 3px 3px 1px black;
}
